<div class="row">
    <app-planning-filter></app-planning-filter>
</div>

<div class="row mt-5">
    <table class="table-bordered">
        <tr>
            <td >Contrat</td>
            <td>Agent</td>
            <td class="text-center" *ngFor="let j of liste_jour, let i = index" [ngStyle] = "{ 'background-color' : (liste_jour[i] == ' ') ? '#5bc0de' : 'white', 
                                                                           'padding' : (liste_jour[i] == ' ') ? '1px' : '0px'} ">{{liste_jour[i]}}</td>
        </tr>

        <tr *ngFor="let creneaux_agent of creneaux_agents_affiche
                   ">
            <td>{{creneaux_agent.contrat}}</td>
            <td [ngStyle]="{ 'background-color': creneaux_agent.color}" >{{creneaux_agent.agent}}</td>
            <td class="text-center" 
            *ngFor="let p of creneaux_agent.postes
                    let j = index"  [ngStyle] = "{ 'background-color' : (creneaux_agent.postes[j] == ' ' && nombreSemaineSelect > 1) ? '#5bc0de' : 'white'}">
                    {{creneaux_agent.postes[j]}}</td>
        </tr>
    </table>
    
</div>

<!--| paginate : { itemsPerPage : 3, 
    currentPage : page, 
    totalItems : totalLength 
  } -->