<nav class="navbar navbar-light bg-light border">
    <div class="container-fluid">
      <a class="navbar-brand"><b>PdPH</b></a>
        <div class="nav">
          <li routerLinkActive="active">
            <a routerLink="/" class="nav-item nav-link">Planning</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="configuration" class="nav-item nav-link">Configuration</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/" class="nav-item nav-link">Connexion</a>
          </li>
        </div>
    </div>
</nav>
