<div class="mt-5">
  <h2 class="text-muted text-center"> Page de configuration </h2>
</div>

<form class="form row g-3 mt-5"  (ngSubmit)="lancerSolveur(f)"  #f="ngForm">

  <div class="row mt-3 border p-3">
    
    <p class="display-6">Personnalisation des contraintes</p>

    <div class="row">
      <label for="inputSemaine" class="col-lg-3 col-form-label">Nombre de semaines de cycle</label>
      <div class="col-lg-1">
        <input type="number" class="form-control" id="inputSemaine" min="1" max="12" name="nb_semaines"  [ngModel] = "nb_semaines" required>
      </div>
    </div>

    <div class="row mt-2">
        <input type="checkbox" class="form-check-input m-1" name="contrainte11" [ngModel] = "contrainte11" required> Nombre minimal de jours consécutifs travaillés 
    </div>

    <div class="row mt-2">
      <input type="checkbox" class="form-check-input m-1" name="contrainte12" [ngModel] = "contrainte12" required> Nombre maximal de jours consécutifs travaillés
    </div>

    <div class="row mt-2">
      <input type="checkbox" class="form-check-input m-1" name="contrainte13" [ngModel] = "contrainte13" required> Même postes les samedi et dimanche consécutifs
    </div>

    <div class="row mt-2">
      <input type="checkbox" class="form-check-input m-1" name="contrainte14" [ngModel] = "contrainte14" required> Postes différents sur deux segments consécutifs 
    </div>
    
    <div class="row mt-2">
      <input type="checkbox" class="form-check-input m-1" name="contrainte15" [ngModel] = "contrainte15" required> Au plus 30% de JCA chaque jour 
    </div>
  </div>

  <div class="row mt-3 border p-3">
    <p class="display-6">Lancement du solveur</p>
    
    <div class="input-group mb-2">
      <label class="input-group-text" for="inputFile"> Charger le fichier d'entrée au solveur</label>
      <input type="file" class="form-control" name ="inputFile" id="inputFile" accept=".txt" ngModel required (change)="onFileChanged($event)">
    </div>

    <div class="mb-2">
      <button type="submit" class="btn btn-info btn-md btn-block" [disabled] = "f.invalid">Lancer le solveur</button>
    </div>
  </div>
</form>

<div class="nav">
  <li routerLinkActive="active"><a href="http://localhost:4200/" class="nav-item nav-link"> Voir les plannings </a></li>
</div>

<div class="row mt-5">
  <!--<p *ngIf = "solutionStatus == true">{{solutionStatus}}</p> -->
</div>

