<div *ngIf="solveurParams">
  <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRecapitulatif" aria-expanded="false" aria-controls="collapseExample">
        Recapitulatif des paramétres d'entrée
    </button>
  </p>
  <div class="collapse" id="collapseRecapitulatif">
    <div class="card card-body">
        <p>Nombre de semaines de cycle = {{solveurParams.nb_semaine}}</p>
        <p>Nombre minimal de jours consécutifs travaillés = {{solveurParams.contrainte11}}</p> 
        <p>Nombre maximal de jours consécutifs travaillés = {{solveurParams.contrainte12}} </p>
        <p>Même postes les samedi et dimanche consécutifs = {{solveurParams.contrainte13}}</p>
        <p>Postes différents sur deux segments consécutifs  = {{solveurParams.contrainte14}}</p>
        <p>Au plus 30% de JCA chaque jour = {{solveurParams.contrainte15}}</p>
        <p>Nom du fichier d'entrée: {{solveurParams.input_file}}</p>
    </div>
  </div>
</div>